<div class="container">
  <mat-card style="margin-top: 50px">
    <div class="container text-center">
      <h1>Login Here!!</h1>
      {{ login | json }}
    </div>
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control text-center"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="emailid"
          [(ngModel)]="login.emailid"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control text-center"
          id="exampleInputPassword1"
          name="password"
          [(ngModel)]="login.password"
        />
      </div>
      <div class="container text-center">
        <button type="submit" class="btn btn-primary" (click)="Login()">
          Submit
        </button>
        <button type="reset" class="btn btn-primary" style="margin-left: 10px">
          Reset
        </button>
      </div>
    </form>
  </mat-card>
</div>
